@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700&family=Exo:wght@400;700&family=GFS+Didot&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Variables                  ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
:root {
  --body-text-font: "GFS Didot", serif;
  --second-font: "Bodoni Moda", serif;
  --headline-text: 'Exo', sans-serif;
  --background-color: #1D1A19;
  --text-emphasis-color: #ff9900;
  --navbar-color: #333333;
  --footer-color: #333333;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Global                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

html {
  overflow-x: hidden;
}



/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃             Layout Utillites              ┃ 
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/* flexbox utillites */
.flex,
.direction-column,
.justify-center,
.align-center,
.center-everything,
.space-between,
.space-evenly,
.diretion-row,
.wrap {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.diretion-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.center-everything {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.img-flex {
  display: block;
  width: 100%;
}

/* Other utillites */

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Header                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

header{
  background-color: var(--navbar-color);
}

/* Hide hamburger menu */
.hamburger {
  display: none;
}

.navbar{
  width: 100%;
  height: 150px;
}

.logo{
  height: 400px;
  width: 400px;
}

/* Navigation */
.navigation {
  width: 50%;
  padding: 20px;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:hover {
  border-bottom: solid rgb(255, 255, 255);
}

.navigation a {
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}


/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Main                      ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

main {
 background-color: var(--background-color);
}

/* Hero section */
.hero {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/andrew-ruiz-348421.jpg"); /* Background img with overlay */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

/* Emphasis color */
.bottom-hero > div > h2{
    color: var(--text-emphasis-color)
}



/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Footer                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
footer {
  background-color: var(--footer-color);
}

/* Targets all h2 for emphasis color */
footer > div > h2{
  color: var(--text-emphasis-color);
}
/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Typography                ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/* Headline text (display type) */
  h1{
  font-family: var(--headline-text);
  font-size: 45pt;
  font-weight: 400;
  line-height: 52pt;
  letter-spacing: 0;
}

/* Title text (title type) */
h2,
h3,
h4 {
  font-family: var(--second-font);
  font-size: 22pt;
  font-weight: 400;
  line-height: 28pt;
  letter-spacing: 0;
}

/* Body text (body type) */
p{
  font-family: var(--body-text-font);
  font-size: 16pt;
  font-weight: 400;
  line-height: 24pt;
  letter-spacing: 0.5pt;
}

.hero-text {
  width: 100%;
  height: 100%;
  font-size: 36pt;
}

.label{
  font-family: var(--second-font);
  font-size: 14pt;
  font-weight: 700;
  line-height: 20pt;
  letter-spacing: 0.1pt;
}

.emphasis-color {
  color: var(--text-emphasis-color)
}


/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃             Media Queries                 ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃   CSS Rules for Mobile    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
@media only screen and (max-width: 768px) {
  /* Navigation */

  /* Hides main navigation */
  .navigation {
    display: none;
  }
  /* Hamburger Menu */

  .hamburger {
    display: block;
    position: fixed;
    right: 0;
    z-index: 1;
  }

  .hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    width: 100vw;
    transition: left 0.3s ease;
    font-size: 40px;
    filter: box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    background-color: black;
  }

  .hamburger-menu a {
    color: #ffffff;
    display: flex;
    justify-content: center;
  }

  .close-icon {
    position: absolute;
    right: 0;
    margin: 10px;
  }

  input#hamburger-on:checked + label.hamburger-menu + aside.hamburger-menu {
    right: 0;
  }

  input#hamburger-on:not(:checked) + label.hamburger-button + aside.hamburger-menu {
    left: 100%;
    transition: ease-out 0.3s;
  }

  input[type="checkbox"] {
    /* Hides the checkbox */
    display: none;
  }

  /* Hero */
  .hero {
    height: 300px;
  }

  .hero-text {
    font-size: 24px;
  }

  /* Footer */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
  }

  /*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃   Typography mobile         ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/* Headline text (display type) */
  h1{
    font-family: var(--headline-text);
    font-size: 36pt;
    font-weight: 400;
    line-height: 44pt;
    letter-spacing: 0;
  }
  
  /* Title text (title type) */
  h2,
  h3,
  h4 {
    font-family: var(--second-font);
    font-size: 14pt;
    font-weight: 400;
    line-height: 20pt;
    letter-spacing: 0.1pt;
  }
  
  /* Body text (body type) */
  p{
    font-family: var(--body-text-font);
    font-size: 12pt;
    font-weight: 400;
    line-height: 16pt;
    letter-spacing: 0.4pt;
  }
  
  .hero-text {
    width: 100%;
    height: 100%;
    font-size: 36pt;
  }

  .label{
    font-family: var(--second-font);
    font-size: 11pt;
    font-weight: 500;
    line-height: 16pt;
    letter-spacing: 0.5pt;
  }
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃   CSS Rules for Tablets   ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
