@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&family=Exo:wght@400;500;700&display=swap");

/* Fallback fonts */
@font-face {
  font-family: "Exo";
  font-weight: 400;
  src: url("../fonts/Exo-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  font-weight: 700;
  src: url("../fonts/Exo-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Dosis";
  font-weight: 400;
  src: url("../fonts/Dosis-Regular.ttf") format("truetype");
  font-display: swap;
}


@font-face {
  font-family: "Dosis";
  font-weight: 700;
  src: url("../fonts/Dosis-Bold.ttf") format("truetype");
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Variables                  ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
:root {
  --body-text-font: "Exo", sans-serif;
  --second-font: "Dosis", sans-serif;
  --background-color: #1d1a19;
  --text-emphasis-color: #ff9900;
  --navbar-color: #333333;
  --footer-color: #333333;
  --text-color: #ffffff;
  --title-text-color: #fe672e;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Global                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: var(--background-color);
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃             Layout Utillites              ┃ 
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/* flexbox utillites */
.flex,
.direction-column,
.justify-center,
.align-center,
.center-everything,
.space-between,
.space-evenly,
.diretion-row,
.wrap {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.diretion-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.center-everything {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

/* Other utillites */

.img-flex {
  width: 100%;
  display: block;
}

/* For making lists appear */
ul.listview{
  list-style-type:circle;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Header                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

header {
  background-color: var(--navbar-color);
}

/* Hide hamburger menu */
.hamburger {
  display: none;
}

.navbar {
  height: 150px;
  margin-left: 170px;
  margin-right: 170px ;
}

.logo {
  height: auto;
  width: 110px;
  min-width: 100px;
}

/* Navigation */
.navigation {
  width: 100%;
}

.navigation ul{
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation li:hover,
li a:hover {
  color: var(--title-text-color);
  font-size: 23px;
  transition: color 0.4s ease;
  transition: 0.4s ease, transform 0.4s ease;
}

.navigation a {
  color: white;
  font-weight: 700;
  padding: 10px;
  font-family: var(--second-font);
  font-size: 16px;
}

.navigation a.active {
  color: var(--title-text-color);
  text-decoration: underline;
  font-size: 23px;
  /* color for active state */
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Main                      ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/* Hero section */

.hero {
  height: 700px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/hero-img-desktop.webp");
  /* Background img with overlay */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}




.main-content {
  margin: 0 170px;
  height: auto;
}

.main-content>section {
  margin-bottom: 100px;
}

.main-content section img {
  margin-bottom: 60px;
  height: 500px;
  object-fit: cover;
  object-position: center;

}

.main-content h2 {
  margin: 20px 0px;
  color: #fe672e;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: white;
}

.news-section {
  margin: 20px auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
}

.news-section a {
  color: var(--title-text-color);
}



.end-quote {
  margin: 60px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); 
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Footer                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

footer {
  height: auto;
  background-color: var(--footer-color);
  color: white;
}

.footer-container {
  justify-content: space-around;
  gap: 20px;
  padding: 100px 0 100px;
}

.footer-container>div {
  max-width: 350px;
  width: 250px;
}

.footer-container>.logo {
  height: auto;
  width: 140px;
}

.footer-container a {
  text-decoration: underline;
}

/* Social media icons */
.social-media {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 50px;
  color: white;
  border-bottom: 1px solid white;
}

.social-media a {
  color: white;
  height: 40px;
  padding-right: 10px;
}

/* --------------------------*/

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Typography                ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/


body {
  color: white;
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: +0.5px;
  max-width: 60em;
  font-family: var(--body-text-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  font-size: 22px;
  line-height: 28px;
  letter-spacing: +0.15px;
}

/* Hero text desktop */
.hero-text-container {
  width: 100%;
  height: 100%;
}

.hero-text {
  font-family: var(--second-font);
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25%;
}

footer h3 {
  font-family: var(--body-text-font);
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.footer h2 {
  color: #fe672e;
  font-weight: 700;
}

.emphasis-color {
  color: var(--text-emphasis-color);
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃             Media Queries                 ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃   CSS Rules for Tablets and mobile   ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
@media only screen and (max-width: 1100px) {
  .navbar {
    margin-left: 10px;
  }


    /* Background image hero */
    .hero {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/hero-img-tablet-mobile.webp");
      height: 600px;
      /* Background img with overlay */
    }
  
  .navigation {
    display: none;
  }

  .navbar{
    margin: 0;
    margin-left: 10px;
  }

  .main-content {
    margin: 0 30px;
  }

  /* Hamburger Menu */

  .hamburger {
    display: block;
    right: 0;
    z-index: 1;
  }

  .hamburger-menu {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    z-index: 1;
    width: 100%;
    transition: left 0.3s ease;
    font-size: 40px;
    background-color: var(--background-color);
    overflow: auto;
  }

  .hamburger-menu a {
    color: #ffffff;
    display: flex;
    justify-content: center;
  }

  .hamburger-button span {
    font-size: 40px;
    padding: 10px;
    color: #fe672e;
  }

  .close-button>span {
    font-size: 40px;
    cursor: pointer;
    color: #fe672e;
  }

  .top-section-hamburger {
    border-bottom: 1px solid white;
    padding: 10px;
  }

  #logo-hamburger {
    width: 200px;
    padding: 20px;
  }

  input#hamburger-toggle:checked~aside.hamburger-menu {
    left: 0;
    transition: left 0.3s ease;
  }

  input[type="checkbox"] {
    /* Hides the checkbox */
    display: none;
  }

  /* footer */
  .opening-hours,
  .address,
  .shortcuts {
    padding-bottom: 30px;
  }

/* Google maps */
iframe{
  height: 300px;
  width: 100%;
}
  
}

/* Media query for only tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .hero-text {
    font-family: var(--second-font);
    font-size: 45px;
    line-height: 52px;
    letter-spacing: 0;
  }

  /* Typography */
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: +0.25px;
    max-width: 50rem;
    word-wrap: break-word;
  }

  /* Title desktop */
  h1,
  h2,
  h3,
  h4 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: +0.15px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

 
}

/* Media query for only mobile devices */
@media only screen and (max-width: 599px) {

  /* nav */
  #logo-hamburger {
    width: 170px;
  }

.hero{
  height: 400px;
}

  /* Footer */

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  /* Typography */

  p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: +0.4px;
    max-width: 59rem;
    word-wrap: break-word;
  }

  /* Title desktop */
  h1,
  h2,
  h3,
  h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: +0.1px;
  }

  .hero-text {
    font-family: var(--second-font);
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
  }

  iframe{
    height: 300px;
    width: 100%;
  }


}