@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Exo:wght@400;500&display=swap");


/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Resets                     ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Variables                  ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
:root {
  --body-text-font: "Exo", sans-serif;
  --second-font: "Dosis", sans-serif;
  --background-color: #1C1918;
  --text-emphasis-color: #edeef4;
  --navbar-color: #333333;
  --footer-color: #333333;
  --text-color: #ece9e9;
  --title-text-color: #E85220;
  --box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Global                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;

}

body {
  background-color: var(--background-color);
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃             Layout Utillites              ┃ 
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/* =======================
     =Flexbox Utilitiess
   ======================= */
.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.center-everything {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.flex-end {
  text-align: right;
}

/* ======================
     =Other Utillities
   ====================== */
.grid {
  display: grid;
}

.sidebyside{
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* For making lists appear */
ul.listview {
  list-style-type: circle;
}

.margin-bottom {
  margin-bottom: 100px;
}

.margin-right {
  margin-right: 1%;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Header                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

header {
  background-color: var(--navbar-color);
}

.hamburger {
  /* hides the hamburger menu */
  display: none;
}

.logo {
  height: auto;
  width: 140px;
}

/* ===============
     =Navigation=
   =============== */

.navbar {
  height: 150px;
  margin: auto auto;
  transition: ease all .5s;
  max-width: 1000px;
}

.navigation ul {
  width: 100%;
  padding-right: 20px;
  height: 100%;
}

.navigation li:hover,
.navigation li a:hover {
  color: var(--title-text-color);
  font-size: 23px;
  transition: color 0.4s ease;
  transition: 0.4s ease, transform 0.4s ease;
  font-weight: 700;
}

.navigation a {
  padding: 10px;
  font-family: var(--second-font);
  font-size: 16px;
}

.navigation a.active {
  /* Active state */
  color: var(--title-text-color);
  text-decoration: underline;
  font-size: 23px;
  font-weight: 700;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Main                      ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

main {
  padding-bottom: 100px;

}

/* Hero section */
.hero {
  height: 500px;
  max-width: 100%;
  background-image: linear-gradient(rgba(10, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/test1-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  margin-bottom: 60px;
}

/* Grid gallery homepage */
.image-container {
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img3 img3";
  gap: 10px;
}

#img1 {
  grid-area: img1;
}

#img2 {
  grid-area: img2;
}

#img3 {
  grid-area: img3;
}


.main-content {
  margin: auto auto;
 
  transition: ease all .5s;
  max-width: 1000px;
}


.box-shadow {
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 10px;
  transition: ease all .5s;

}

.box-shadow img{
  max-height: 300px;
  border-radius: 3px;
}



.button-section {
  display: flex;
  width: 150px;
  height: 41px;
  border: solid white 1px;
  font-size: 14px;
  font-family: var(--second-font);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  transition: ease-out 0.3s;
  line-height: 20px;
  letter-spacing: +0.1px;
}

.button-section:hover {
  border-color: #915440;
  font-size: 17px;
  transition: ease-in 0.3s;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

.upcoming-events-container {
  margin: 20px;
  background-color: #292317;
}


/* images */
#visit-img{
  object-position: bottom;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
}

/* Grid Exhibits page */
.exhibits-container{
  grid-template-columns: auto auto;
  gap: 10px;
}

.exhibits {
  margin-right: 20px;
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(205, 195, 171, 0.1); 
    padding: 10px;
}


.card {
    border: 10px solid transparent;
    border-radius: 8px;
    background-color: #333333;
  }

  .about-card{
    
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(205, 171, 171, 0.1); 
  }


.divider {
  position: relative;
  height: 3px;
  background: #E57373; /* The base color of the divider */
  margin-bottom: 5px;
  width: 100%;
}

.divider2{
  background: white;
  height: 3px;
  width: 100%;
  margin-bottom: 20px;
}

.horizontal-line{
  width: 100%;
}

.exhibit-info {
  padding: 20px;
}

.cosmology-filter{
  filter: drop-shadow(0 0 0.35rem #20343D);
}

.evolution-filter{
  filter: drop-shadow(0 0 0.35rem #9F7633);
}

.biology-filter{
  filter: drop-shadow(0 0 0.35rem #B9BFC1);
}

.robotics-filter{
  filter: drop-shadow(0 0 0.35rem #264b5c);
}

.ecology-filter{
  filter: drop-shadow(0 0 0.15rem #D8CFD4);
}

.banner {
  position: relative;
  margin-bottom: 100px;

}

.banner img {
  object-fit: cover;
  height: 500px;
  box-shadow: 0 10px 6px -6px black;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(10, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.overlay-text {
  margin: auto 20%;
  position: absolute;
  bottom: 0%;

}



iframe {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 300px;
}

/* FORMS */
.form {

  border-radius: 10px;
  font-family: var(--body-text-font);
}

.form input {
  margin-bottom: 10px;

  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: var(--body-text-font);
}

.form #message {
  height: 300px;
}

.form-button {
  width: 200px;
  height: 30px;
  font-family: var(--second-font);
}


.did-you-know {
  background-color: #f0f9ff; 
  border-left: 5px solid #E85220; 
  padding: 20px;
  margin: 40px 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.did-you-know h3 {
  color: #E85220; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.did-you-know p {
  color: #000000; 
  font-size: 16px; 
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Footer                    ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

footer {
  background-color: var(--footer-color);
  color: white;
}

.footer-container {
  padding: 5% 20% 5%;

}

.footer-container a {
  text-decoration: underline;
}

.footer-container h2 {
  font-size: 16px;
}


/* Social media icons */
.social-media {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 40px;
  color: white;
  border-bottom: 1px solid white;
}

.social-media a {
  color: white;
  height: 40px;
  padding-right: 10px;
}




.copyright span{


}

/* --------------------------*/

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Typography                ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

body {
  color: white;
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: +0.5px;
  max-width: 800px;
  font-family: var(--body-text-font);
  margin-top: 0.3em;
  margin-bottom: 1.4em;
}

.hero-text,
.overlay-text>h1 {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25%;
  margin: 0;
}

h2,
h3,
h4 {
  font-family: var(--second-font);
  font-size: 22px;
  line-height: 28px;
  letter-spacing: +0.15px;
  margin-top: 13px;
  margin-bottom: 6.5px;

}

.hero-text-container {
  /* Hero Text Desktop */
  width: 100%;
  height: 100%;
}

footer h3 {
  font-family: var(--body-text-font);
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.footer h2 {
  color: #fe672e;
  font-weight: 700;
}

.emphasis-color {
  color: var(--text-emphasis-color);
}

/* Headline */
.main-content.headline h2 {
  color: var(--title-text-color);
  font-family: var(--second-font);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
}


/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃             Media Queries                 ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃   CSS Rules for Tablets and mobile   ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
@media only screen and (max-width: 1100px) {
  .navbar {
    margin-left: 10px;
  }

  .navigation {
    /* Hides the desktop navigation */
    display: none;
  }

  .hero {
    /* Background img with overlay */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/testtest.webp");
    background-size: cover;
    height: 400px;
    transition: all 0.5s;

  }

  .navbar {
    margin: 0;
    margin-left: 3%;
  }

  .main-content {
    margin: 0 5%;
  }

  /* Hamburger Menu */
  .hamburger {
    display: block;
    right: 0;
    z-index: 1;
  }

  .hamburger-menu {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    z-index: 1;
    width: 100%;
    transition: left 0.3s ease;
    font-size: 40px;
    background-color: var(--background-color);
  }

  .hamburger-menu ul li a {
    color: #ffffff;
    margin: 10px;
    font-family: var(--second-font);
  }

  .hamburger-menu ul li {
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  }

  .hamburger-button span {
    font-size: 40px;
    padding: 10px;
    color: #fe672e;
  }

  .close-button>span {
    font-size: 40px;
    cursor: pointer;
    color: #fe672e;
  }

  .top-section-hamburger {
    border-bottom: 1px solid white;
    padding: 10px;
  }

  #logo-hamburger {
    width: 200px;
    padding: 20px;
  }

  input#hamburger-toggle:checked~aside.hamburger-menu {
    left: 0;
    transition: left 0.3s ease;
  }

  input[type="checkbox"] {
    /* Hides the checkox */
    display: none;
  }

  /* footer */
  .footer-container {
    padding: 100px 10% 100px;
  }

  .logo-footer {
    order: 1;
  }

  .footer-item {
    padding-bottom: 30px;
    margin-right: 10px;
  }

  .overlay-text {
    margin: 0 5%;
  }

  .banner,
  .banner img {
    height: 400px;
    width: 100%;
  }

  /* Google maps */
  iframe {
    height: 300px;
    width: 100%;
  }

  .hero-text,
  .overlay-text h1 {
    font-family: var(--second-font);
    font-size: 45px;
    line-height: 52px;
    letter-spacing: 0;
  }

  .overlay-text p {
    max-width: 300px;
  }

  .overlay-text {
    margin: 0 3%;
  }

  /* Typography */
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: +0.25px;
    word-wrap: break-word;
  }

  /* Title desktop */
  h2,
  h3,
  h4 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: +0.15px;
  }

  .button-section {
    font-size: 11px;
  }

  /* Headline tablet */
  .main-content.headline h2{
    font-size: 28px;
    line-height: 36px;
  }
  
}

/* Media query fdr tablet */
@media only screen and (max-width: 800px){
  .exhibits-container{
    grid-template-columns: 1fr;
  }
}


/* Media query for only mobile devices */
@media only screen and (max-width: 599px) {

  /* nav */
  #logo-hamburger {
    width: 170px;
  }

  /* Typography */
  p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: +0.4px;
    max-width: 59rem;
    word-wrap: break-word;
  }

  h2,
  h3,
  h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: +0.1px;
  }

  .hero-text,
  .overlay-text h1 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
  }

  .overlay-text {
    margin: 0 1%;
  }

    /* Headline Mobile */
    .main-content.headline h2{
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0;
    }

  .hero {
    /* Background img with overlay */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/mobile-test.webp");
    height: 250px;
    transition: ease all .5s;
  }

  /* Footer */
  .footer-container {
    padding: 5% 5% 5%;
  }

  iframe {
    height: 300px;
    width: 100%;
  }

  .banner,
  .banner img {
    height: 300px;
  }



}